@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;

.tabla-b.color-primario thead tr
    background-color: $color-primario !important
.tabla-b.color-primario thead tr th
    text-align: center !important
.tabla-b tr:nth-child(even), .tabla-c tr:nth-child(even)
    background-color: #fff !important
.tabla-b tr:nth-child(odd), .tabla-c tr:nth-child(odd)
    background-color: #F6F6F6

.tabla-a.color-acento-contenido thead
    background-color: #E7EFE9 !important
.acordion__accion__btn--a,
.acordion__accion__btn--b
    background-color: $color-acento-botones !important;
    color: $white !important;
.tarjeta.bg-brown
  background-color: #F9D2AD
.tarjeta.bg-brown.acordion__activo
  background-color: #EBE7E5

.lista-ul--color li > i.icon-list:first-of-type 
    color: $color-sistema-texto !important;
    font-size: 7px;
    top: 9px !important

.tabs-c 
    border-bottom: 0px
.tabs-c.color-primario .tabs-c__tab
    background-color: #FEF4EA
    border-bottom-color: $color-primario

.tabs-c.color-primario .tabs-c__tab--active
    background-color: #EBE7E5
    border-bottom-color: $color-acento-botones !important
.tabs-c.color-primario .tabs-c__tab--active:before
    border-top-color: $color-acento-botones !important
.tabs-c.color-primario .tabs-c__tab--active span
    font-weight: bold !important

.tabla-b.wcus-tabla table
    min-width: auto
.tabla-b.wcus-tabla td
    text-align: center
.tabla-a thead
  color: $color-sistema-texto !important
.slyder-f__btn i
    color: $color-acento-botones
.linea-tiempo-d .tarjeta 
  background-color: #FEF4EA 
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #EBE7E5 !important
.linea-tiempo-c__header__btn, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right
    border: 0px
    background-color: $color-acento-botones
    color: $white !important
.pasos-b__header__item--before .pasos-b__header__item__dot,
.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after,
.pasos-b__header__item--active .pasos-b__header__item__line-container:before
    background-color: #19632C
    border: 0px

.cajon.color-acento-contenido
    background-color:#E7EFE9
.cajon.color-secundario
    background-color:#F6E7E5

.tarjeta--boton
    background-color: #E7EFE9
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto
    color: $color-sistema-texto
    font-style: normal !important

.bloque-texto-g.color-adiconoal-1
    background-color: #FFD98A

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.banner-interno__fondo
  background-image: url(../assets/curso/bg/6.svg) !important
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/bg/3.svg)
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom
  &-2
    background-image: url(../assets/curso/bg/4.svg)
  &-3
    background-image: url(../assets/curso/bg/5.svg)
.bg-color
  &-1
    background-color: #FEF4EA
  &-2
    background-color: #F9D2AD
  &-3
    background-color: $color-primario
  &-4
    background-color: #F6E7E5
  &-5
    background-color: #fff
  &-6
    background-color: #D1E0D4
  &-7
    background-color: #D7D1CC
    

.br
  &-1
    border-top-left-radius: 80px !important
  &-2
    border-top-left-radius: 50px !important
  &-3
    border-top-right-radius: 80px !important
  &-4
    border-top-left-radius: 60px !important
    border-top-right-radius: 20px !important
    border-bottom-right-radius: 20px !important
    border-bottom-left-radius: 20px !important
  &-5
    border-radius: 30px !important
.wcus
  &-1
    min-width: 400px;
  &-2
    width: 15%
.hcard
  &-1
    height: 400px

.fw-italic
  font-style: italic !important
.tit-icon
  &:after
    background-image: url(../assets/curso/bg/2.svg)
    background-repeat: no-repeat
    margin-top: 7px
    width: 40%
    height: 20px;
    content: "";
    display: block;
    position: absolute;
 
    

.titulo-tercer-nivel
  width: fit-content
  max-width: 100%
  position: relative
  display: inline-flex
  align-items: center
  background-color: $color-primario
  border-radius: 30px
  padding-right: 16px
  padding-left: 52px
  min-height: 48px
 
  @media screen and (max-width: $bp-min-md)
    padding-left: 0px


  &__icon
    position: absolute
    left: -10px
    top: 40%
    transform: translateY(-50%)
    width: 65px
    max-width: 65px
    height: auto

    @media screen and (max-width: $bp-min-md)
      display: none

  &__text
    margin: 0
    margin: 0 15px 0 15px
    white-space: normal
    word-break: break-word


.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 0.8rem 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.3rem ))
    background-color: #EBE7E5
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  .bloque-texto-g 
        padding-top: 50px !important;
  .hcard
    &-1
      height: auto !important
  .banner-principal .tarjeta
    background-image: url(../assets/curso/portada/fondo-banner-principal-tablet.png) !important
  .wcus
    &-2
      width: auto
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .bloque-texto-g
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  .br
    &-1,&-2,&-3,&-4
      border-radius: 0px !important
  
 
  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .tit-icon
    &:after
      width: 85%
  .banner-principal .tarjeta
    background-image: url(../assets/curso/portada/fondo-banner-principal-mobile.png) !important
  
 